body {
    font-family: var(--font);
    line-height: 1.5;
    /* 1rem = 16px */
    font-size: 16px;
    color: var(--dark-blue);
}

p {
    opacity: 0.856;
    font-weight: 400;
}

h1,
h3,
h3,
h4 {
    font-weight: 700;
}

a {
    color: var(--dark-blue);
    text-decoration: underline;
}

a:active {
    opacity: .858;
}


/* images */

img {
    max-width: 100%;
    height: auto;
}