:root {
    --primary: #e91873;
    --secondary: #18e96c;
    --accent: #e9bf18;
    --light: #f9f9f9;
    --dark-blue: #010c1a;
    --font: 'Josefin Sans', sans-serif;
    --shadow: 0 3px 30px #8E8E8E29;
}